<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <!-- Console appender will be added dynamically -->
        <!-- File appenders will be added dynamically -->
    </Appenders>
    <Loggers>
        <Root level="info">
            <!-- Appenders will be added dynamically -->
        </Root>
    </Loggers>
</Configuration>
